/*
 * Copyright (c) 2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include <dt-bindings/arm/qcom-ids.h>
#include "advantech-apq8016-sbc.dtsi"
#include "advantech-rsb-4760-soc-pins.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. APQ 8016 SBC";
	compatible = "qcom,apq8016-sbc", "qcom,apq8016", "qcom,sbc";
	qcom,board-id = <QCOM_BRD_ID(SBC, 1, 0) QCOM_BRD_SUBTYPE_DEFAULT>;

	board {
		compatible = "proc-board";
		board-type = "RSB-4760";
		board-cpu = "Quad 64-bit";
	};

	soc {
		i2c@1b0c000 {
			label = "I2C2";
			//status = "okay";
		};

		i2c@78b7000 {
			label = "I2C4";
			status = "okay";
		};
	};
};

/* ROM-EG70 */
&blsp_spi5 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&msmgpio 18 GPIO_ACTIVE_HIGH>;
	status = "okay";
	spi_nor: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&cci_i2c0 {
	eeprom: 24c32@51 {
		compatible = "onsemi,24c32";
		reg = <0x51>;
	};
};
